* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #e6e6e6;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

header .logo {
    font-size: 18px;
    font-weight: bold;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* MAIN SECTION */
.hero {
    display: flex;
    align-items: center;
    padding: 50px 80px;
}

.profile-img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-right: 40px;
}

.intro h1 {
    font-size: 60px;
}

.intro h2 {
    font-size: 28px;
    margin: 10px 0;
    font-weight: normal;
}

.intro p {
    width: 420px;
    color: #444;
    line-height: 1.5;
}

.buttons {
    margin-top: 20px;
}

.btn {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 15px 22px;
    border-radius: 50%;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
.btn hover{
 background-color: white;
}
.yellow { background: #f5c518; }
.red    { background: #e63946; color:black; }
.blue   { background: #00b4d8; }

/* FOOTER */
footer {
    padding: 40px;
    text-align: center;
    border-top: 1px solid #bbb;
    margin-top: 30px;
}

.info p, .social p {
    margin: 10px 0;
}
.copy {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}
.logo-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #ffaa00; /* Orange color */
    border-radius: 50%;
    margin-right: 8px;
}